# Виртуальное окружение
venv/
.venv/

# Конфиги IDE (PyCharm и др.)
.idea/
*.iml

# Кэш и компилированные файлы Python
__pycache__/
*.py[cod]

# Файлы переменных окружения
.env
*.env

# Логи, временные и вспомогательные файлы
task.txt

# Медиафайлы и сессии (если не нужны в репозитории)
BotSessionTG/

# Бэкапы и прочий мусор
*.bak
*.swp
*.tmp
